.container{
  margin-top: 60px;
}
h1{
  padding-left: 360px;
  text-align: center;
  font-size: 70px;
  color: black;

}
form{
  margin-top: 200px;
  margin-left: 1000px;
  position: absolute;
}
label{
  font-size: 20px;
  color: black;
}
hr{
  visibility: hidden;
}
.form-group{
  margin-bottom: 10px;
}
button{
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  width: 100px;
  height: 30px;
  margin-left: 100px;
  margin-top: 20px;
}
input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

